
#map { 
    height: 400px;
    width: 100%;
    margin-top: 10px;
    display: inline-block;
}

#panel {
    width: 100%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 200px;
}

.sequence-control-container {
    width: 330px;
    height: 50px;
/*    background-color: rgba(255,255,255,0.4);*/
    padding: 10px;
    line-height: 0px;
    text-align: center;
/*    border: solid gray 1px;*/
}


.legend-control-container {
    width: 180px;
    height: 115px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 5px;
    text-align: center;
    align-items: right;
    border: solid gray 1px;
}


#forward {
    float: right;
}

#reverse {
    float: left;
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

